body {
  background-color: white;
  font-family: "Nunito", sans-serif;
} 

#mainNavbar .navbar-brand {
  color: #141A10;
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: #5f7a30e3;
}

#mainNavbar .nav-link:hover {
   color: #141A10;
}

.navbar.scrolled {
  background: #eeeeee;
  transition: background 500ms;
}